NEXT_PUBLIC_CLAIMRAIL_PROGRAM_ID=FhJCrC4QMtAjiDkBVG85d9mLfieJdzXtQ7FQLgvAin4j
NEXT_PUBLIC_SOLANA_RPC=https://your-dedicated-devnet-rpc
NEXT_PUBLIC_SOLANA_WS_URL=wss://your-solana-pubsub-endpoint
NEXT_PUBLIC_ARCIUM_CLUSTER_OFFSET=456
NEXT_PUBLIC_DEFAULT_POLICY_ISSUER=2Dq9UoNEXK2Viif5jPNcTVVVJgV4pwct5yygmG12higr
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=
